$sidebar-left-witdh: 260px;

#apanel-header {

    & .dropdown,
    & .btn {
        border-color: lighten($primary, 5%) !important;
        border-radius: 0 !important;
    }

    & #apanel-header-toogle-sidebar {
        border-right-width: 1px;
        border-width: 0;

        & svg {
            font-size: 200% !important;
            margin-top: 5px;
            color: lighten($primary, 15%);
        }
    }

    & #apanel-header-main-dropdown button {
        border-width: 0;
    }

}

#apanel-sidebar-left {
    flex: 0 0 $sidebar-left-witdh;
}

#apanel-sidebar-mobile {
    width: $sidebar-left-witdh !important;
}

#apanel-sidebar-left {

    background-color: $secondary;

    & .list-group-item-action {
        
        background-color: transparent !important;
        color: $light;

        &,
        &.active, 
        &.disabled {
            border-top-color: darken($secondary, 7%) !important;
            border-bottom-color: darken($secondary, 7%) !important;
        }

        &:hover {
            background-color: darken($secondary, 4%) !important;
        }

        &.disabled {
            color: rgba($light, .4) !important;
        }
    }

    & .collapse.show {

        & .list-group-item-action {
            background-color: darken($secondary, 5%) !important;
            color: $light;

            &,
            &.active, 
            &.disabled {
                border-top-color: darken($secondary, 10%) !important;
                border-bottom-color: darken($secondary, 10%) !important;
            }

            &:hover {
                background-color: darken($secondary, 13%) !important;
            }

            &.disabled {
                color: rgba($light, .4) !important;
            }
        }

    }
}

#apanel-page {
    & main {
        & > header > .container,
        & > section.container {
            margin-left: 0 !important;
            margin-right: 0 !important;
            max-width: 100% !important;
        }
    }
}

#apanel-footer > .bg-dark {
    background-color: darken($primary, 10%) !important;
}